<%
if ( data.length > 0 ){
for (var i=0; i< data.length; i++){%>
<div class="panel default">
    <div class="panel-body">


    </div>
</div>
<%}
} else {
%>

<div class="alert alert-warning" role="alert"><strong>Atención:</strong> No se han registrado cambios</div>
<%}
%>