<%
if ( data.length > 0 ){
for (var i=0; i< data.length; i++){%>
<div class="panel default">
    <div class="panel-body">
<p><label>Title</label><input type="text" class="form-control" value="<%= data[i].title%>" disabled></p>

    </div>
</div>
<%}
} else {
%>

<div class="alert alert-warning" role="alert"><strong>Atención:</strong> No se han registrado documentos</div>
<%}
%>