<p>
<h4 style="color:#00cc99;font-weight:bold">Secciones</h4>
<br>
<ul>
    <li style="color:#4d4d4d;font-weight:bold" role="button" id="creacionManual">Creación</li>
    <br>
    <li style="color:#4d4d4d;font-weight:bold" role="button" id="publicacionManual">Publicación</li>
</ul>
<ol id="manualEntry">
    <hr>
    <li style="color:#4d4d4d" role="button" id="manualPlan">Planeación</li>
    <br>
    <li style="color:#4d4d4d" role="button" id="manualLic">Licitación</li>
    <br>
    <li style="color:#4d4d4d" role="button" id="manualAdj">Adjudicación</li>
    <br>
    <li style="color:#4d4d4d" role="button" id="manualCont">Contratación</li>
    <br>
    <li style="color:#4d4d4d" role="button" id="manualImp">Implementación</li>
</ol>
<div id="textoPlaneacion">
    <h3 style="color:#00cc99">Planeación</h3>
    Esta sección se utiliza para describir el trasfondo del proceso de contratación. Esto puede incluir detalles sobre el presupuesto, proyectos relacionados y documentación tal cómo: Evaluación de necesidades, Plan del proyecto, Plan de contratación, Estudio de factibilidad, etc.
</div>
<div id="textoLicitacion">
    <h3 style="color:#00cc99">Licitación</h3>
    Esta sección incluye los detalles del anunciamiento de que una dependencia requiere licitar algún bien en particular, ya sean materiales o servicios, y que desea establecer un contrato por los mismos.
</div>
<div id="textoAdjudicacion">
    <h3 style="color:#00cc99">Adjudicación</h3>
    Esta sección se utiliza para anunciar cualquier adjudicación que haya sido dada durante el proceso de esta licitación. Pueden existir múltiples adjudicaciones para un mismo proceso.
</div>
<div id="textoContratacion">
    <h3 style="color:#00cc99">Contratación</h3>
    Esta sección se utiliza para dar detalles sobre los contratos en los que se ha incurrido en este proceso. Todo contrato necesita estar relacionado con una adjudicación.
</div>
<div id="textoImplementacion">
    <h3 style="color:#00cc99">Implementación</h3>
    Esta sección describe los avances en cuanto a la implementación del proyecto.
</div>
</p>