<!-- modal para editar Buyer, Procuring Entity -->
<div class="modal fade" id="myModalEditSingleOrg" tabindex="-1" role="dialog" aria-labelledby="modalEditSingleOrg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar</h4>
            </div>
            <div class="modal-body">
                <form id="updatesingleorg_form">
                    <div id="updatesingleorg_fields"></div>
                </form>
                <!-- <p><button class="btn btn-default">Additional identifiers</button></p> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>

<!-- modal para editar publisher  -->
<div class="modal fade" id="myModalEditPub" tabindex="-1" role="dialog" aria-labelledby="modalEditPub">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar </h4>
            </div>
            <div class="modal-body">
                <form id="updatepub_form">
                    <div id ="updatepub_fields"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de nueva organización  -->
<div class="modal fade" id="myModalNewOrg" tabindex="-1" role="dialog" aria-labelledby="orgModalLabel5">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nueva organización</h4>
            </div>
            <div class="modal-body">
                    <div id="neworg_fields"></div>
                    <button type="submit" class="btn btn-default">Crear</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para editar organizaciones -->
<div class="modal fade" id="myModalEditOrg" tabindex="-1" role="dialog" aria-labelledby="modalEditOrg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar organizaciones</h4>
            </div>
            <div class="modal-body">
                <div><!-- contenidos --></div>
                <!-- <p><button class="btn btn-default">Additional identifiers</button></p> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para nuevo documento  -->
<div class="modal fade" id="myModalNewDoc" tabindex="-1" role="dialog" aria-labelledby="modalNewDoc">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar </h4>
            </div>
            <div class="modal-body">
                    <div id="newdoc_fields"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal editar documentos -->
<div class="modal fade" id="myModalEditDocuments" tabindex="-1" role="dialog" aria-labelledby="modalEditDocuments">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar </h4>
            </div>
            <div class="modal-body">
                <div><!-- contenidos --></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para nuevo item -->
<div class="modal fade" id="myModalNewItem" tabindex="-1" role="dialog" aria-labelledby="modalNewItem">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuevo artículo</h4>
            </div>
            <div class="modal-body">
                    <div id = "newitem_fields"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal editar items -->
<div class="modal fade" id="myModalEditItem" tabindex="-1" role="dialog" aria-labelledby="modalEditItem">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar </h4>
            </div>
            <div class="modal-body">
                <input type="text" id="item-table" hidden>
                <div><!-- contenidos --></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal new milestone  -->
<div class="modal fade" id="myModalNewMilestone" tabindex="-1" role="dialog" aria-labelledby="modalNewMilestone">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuevo </h4>
            </div>
            <div class="modal-body">
                <form id ="newmilestone_form">
                    <input type="text" name="ocid" value = "<%= (typeof cp != "undefined" )? cp.id : "" %>" hidden>
                    <input type="text" id = "milestone_table" name = "milestone_table" hidden>
                    <p><label>ID</label>
                        <input type="text" class="form-control" name="milestoneid" required></p>
                    <p><label>Título <!--Title--></label>
                        <input type="text" class="form-control" name="title" required></p>
                    <p><label>Descripción<!--Description--></label>
                        <input type="text" class="form-control" name="description" required></p>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                <label>Fecha de vencimiento<!--Due date--></label>
                                <input type="text" id="newmilestone_date1" class="form-control" name="duedate">
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <label>Fecha de modificación<!--Date modified--></label>
                                <input type="text" id="newmilestone_date2" class="form-control" name="date_modified">
                            </p>
                        </div>
                    </div>
                    <p><label>Estatus<!--Status--></label>
                        <input type="text" class="form-control" name="status"></p>
                    <button class="btn btn-default">Guardar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal editar milestones -->
<div class="modal fade" id="myModalEditMilestones" tabindex="-1" role="dialog" aria-labelledby="modalEditMilestones">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar </h4>
            </div>
            <div class="modal-body">
                <div><!-- contenidos --></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- new transactions -->
<div class="modal fade" id="myModalNewTransaction" tabindex="-1" role="dialog" aria-labelledby="modalNewTransaction">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuevo </h4>
            </div>
            <div class="modal-body">
                    <div id="newtransaction_fields"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal editar transacciones -->
<div class="modal fade" id="myModalEditTransactions" tabindex="-1" role="dialog" aria-labelledby="modalEditTransactions">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar </h4>
            </div>
            <div class="modal-body">
                <div><!-- contenidos --></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para nuevo cambio -->
<div class="modal fade" id="myModalNewAmendmentChange" tabindex="-1" role="dialog" aria-labelledby="modalNewAmenmentChange">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuevo </h4>
            </div>
            <div class="modal-body">
                <form id ="newamendmentchange_form">
                    <input type="text" id = "amendmentchanges_table" name = "amendmentchanges_table" hidden>
                    <input type="text" name="ocid" value = "<%= (typeof cp != "undefined" )? cp.id : "" %>" hidden>

                    <p><label>Propiedad<!--Property--></label>
                        <input class="form-control" type="text" name="property" required>  </p>
                    <p><label>Valor anterior<!--Former value--></label>
                        <input class="form-control" type="text" name="former_value" required> </p>
                    <button class="btn btn-default">Guardar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal editar cambios -->
<div class="modal fade" id="myModalEditChanges" tabindex="-1" role="dialog" aria-labelledby="modalEditChanges">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar </h4>
            </div>
            <div class="modal-body">
                <div><!-- contenidos --></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para cargar desde url -->
<div class="modal fade" id="myModalURL" tabindex="-1" role="dialog" aria-labelledby="modalURL">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Carga desde url</h4>
            </div>
            <div class="modal-body">
                <form>
                    <p><label>URL</label>
                        <input id="urlProc" class="form-control" type="text" name="description">
                    </p>
                    <button class="btn btn-default">Guardar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>