<form id ="newamendmentchange_form">
    <input type="text" name = "table" value = "<%= table %>" hidden>
    <input type="text" name = "localid" value = "<%= localid %>" hidden>

    <p><label>Propiedad<!--Property--></label>
        <input class="form-control" type="text" name="property" required>  </p>
    <p><label>Valor anterior<!--Former value--></label>
        <input class="form-control" type="text" name="former_value" required> </p>
    <button class="btn btn-default">Guardar</button>
</form>