<form id ="newmilestone_form">
    <input type="text" name = "localid" value = "<%= localid %>" hidden>
    <input type="text" name = "table" value="<%= table %>" hidden>
    <!--<p><label>ID</label>
        <input type="text" class="form-control" name="milestoneid" required></p>-->
    <p><label>Título <!--Title--></label>
        <input type="text" class="form-control" name="title" required></p>
    <p><label>Descripción<!--Description--></label>
        <input type="text" class="form-control" name="description" required></p>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Fecha de vencimiento<!--Due date--></label>
                <input type="text" id="newmilestone_date1" class="form-control" name="duedate">
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Fecha de modificación<!--Date modified--></label>
                <input type="text" id="newmilestone_date2" class="form-control" name="date_modified">
            </p>
        </div>
    </div>
    <p><label>Estatus<!--Status--></label>

        <select class="form-control" name="status">
            <option value="">Ninguno</option>
            <option value="met">Concretado</option>
            <option value="notMet">No concretado</option>
            <option value="partiallyMet">Parcialmente concretado</option>
        </select>

    </p>
    <button class="btn btn-default">Guardar</button>
</form>