<input type="text" name="table"  value="<%= table %>" hidden>
<input type="text" name="localid" value = "<%= localid %>" hidden>

<p><label>Identifier scheme</label>
    <input name="identifier_scheme" type="text" class="form-control" ></p>
<p><label>Identifier id</label>
    <input name="identifier_id" type="text" class="form-control"></p>
<p><label>Identifier legal name</label>
    <input name="identifier_legalname" type="text" class="form-control"></p>
<p><label>Identifier uri</label>
    <input name="identifier_uri" type="text" class="form-control"></p>
<p><label>Name</label>
    <input name="name" type="text" class="form-control" required></p>
<p><label>Address street address</label>
    <input name="address_streetaddress" type="text" class="form-control"></p>
<p><label>Address locality</label>
    <input name="address_locality" type="text" class="form-control"></p>
<p><label>Address region</label>
    <input name="address_region" type="text" class="form-control"></p>
<p><label>Address postal code</label>
    <input name="address_postalcode" type="text" class="form-control"></p>
<p><label>Address country name</label>
    <input name="address_countryname" type="text" class="form-control"></p>
<p><label>Contact point name</label>
    <input name="contactpoint_name" type="text" class="form-control"></p>
<p><label>Contact point email</label>
    <input name="contactpoint_email"   type="text" class="form-control"></p>
<p><label>Contact point telephone</label>
    <input name="contactpoint_telephone"  type="text" class="form-control"></p>
<p><label>Contact point fax number</label>
    <input name="contactpoint_faxnumber"    type="text" class="form-control"></p>
<p><label>Contact point URL</label>
    <input name="contactpoint_url"    type="text" class="form-control"></p>
