
<%
for (var i=0; i< data.length; i++){%>

<p>
        <label>Source</label>
        <input class="form-control" name="source"
        value = "<%= data[i].source %>"
        disabled>
    </p>
    <p>
        <label>Date</label>
        <input class="form-control" id="newtrans_date1" name="implementation_date"
        value = "<%= data[i].implementation_date.toLocaleString() %>" disabled>
    </p>

<%}%>