<%
if ( data.length > 0 ){
for (var i=0; i< data.length; i++){%>
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            <label>Source:</label> <%= data[i].source %>
        </p>
        <p>
            <label>Date: </label> <%= data[i].implementation_date.toLocaleString() %>
        </p>
        <button class="btn btn-default">Eliminar</button>
    </div>
</div>
<%}
} else {
%>

<div class="alert alert-warning" role="alert"><strong>Atención:</strong> No se han registrado transacciones</div>
<%}
%>