<form id="uri_form">
    <p>
        <label>URI</label>
        <input name="uri" class="form-control" type="text" value="<%= contractingprocess.uri %>">
    </p>
    <p><label>Politica de publicación</label>
        <input name="publicationpolicy" class="form-control" type="text" value="<%= contractingprocess.publicationpolicy %>">
    </p>
    <p>
        <label>Licencia</label>
        <input name="license" class="form-control" type="text" value="<%= contractingprocess.license %>">
    </p>
    <p>
        <button type="submit" class="btn btn-default">Guardar</button>
    </p>
</form>