<form id="uri_form">
    <label></label>
    <input name="uri" class="form-control" type="text" value="<%= %>">
    <label></label>
    <input name="" class="form-control" type="text" value="<%= %>">
    <label></label>
    <input class="form-control" type="text" value="<%= %>">
    <label></label>
    <input class="form-control" type="text" value="<%= %>">
    <input type="submit" class="btn btn-default">
</form>