<!DOCTYPE html>
<html>
<head>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>



    <title><%= title %></title>
</head>

<body>

<div class="container" align="center">

    <div class="col-sm-6">

    <h1><%= title %></h1>
    <p><%= title %></p>


    <input type="text" class="form-control" placeholder="Usuario" maxlength="3">
    <input type="password" class="form-control" placeholder="Contraseña">
    <br>
        <a href="/main" class="btn btn-success" role="button">Enviar</a>
</div>
</div>
</body>
</html>
