<!DOCTYPE html>
<html>
<head>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">





    <title><%= title %></title>
</head>

<body>

<div class="container" align="center">

    <div class="col-sm-6 col-md-offset-3">

    <h1><%= title %></h1>
    <p><%= title %></p>


        <form action="/login" method="post">

    <input type="text" class="form-control" placeholder="Usuario" >
        <br>
    <input type="password" class="form-control" placeholder="Contraseña">
    <br>
        <button type="submit" class="btn btn-success">Enviar</button>
            </form>
</div>
</div>





<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
