<!DOCTYPE html>
<html>
<head>


    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--  <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"> -->
    <link rel='stylesheet' href='/stylesheets/navbar-fixed-top.css' />
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/main.css'/> -->
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap-grid-system.css' /> -->
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel='stylesheet' href='/stylesheets/buttons.css'/>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">datos.gob.mx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"> <%= user.username %></a></li>
                <li><a href="../navbar/">Datos</a></li>
                <li><a href="../navbar-static-top/">Herramientas</a></li>
                <li><a href="./">Blog</a></li>
                <li><a href="./">Acerca</a></li>
                <li><a href="/signout"><i class="fa fa-sign-out"></i> Salir</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<nav class="row top-buffer">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Contrataciones abiertas</a>
        </div>
    </div>
</nav>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <button id="nuevo" type="button" class="btn btn-primary btn-success" >
                        <i class="fa fa-pencil"></i> Nuevo proceso</button>

                    <button type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#myModal2">
                        <i class="fa fa-search"></i> Buscar proceso</button>

                    <button type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#myModal3">
                        <i class="fa fa-file-text-o"></i> Publicar</button>
                </div>


                <div class="col-sm-6">
                    <input id="ocid" type="text" class="form-control"  placeholder="ocid" disabled>
                </div>

            </div>
        </div>
    </div>
<!--
    <div id="alerta" class="alert alert-warning alert-dismissible" role="alert" hidden>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Alerta</strong> se ha creado un nuevo proceso de contratación con ocid ...
    </div>
    -->
    <br>


    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a data-toggle="pill" href="#home">1. PLANEACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu1">2. LICITACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu2">3. ADJUDICACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu3">4. CONTRATACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu4">5. IMPLEMENTACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu5">   COMPRADOR</a></li>
    </ul>

    <br>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">


            <div class="well well-lg">

                <h3>1. PLANEACIÓN</h3>

                <p>
                    <button class="btn btn-primary btn-success">Document</button>
                    <button class="btn btn-primary btn-success">Budget document</button>
                </p>
                <form role = "form">
                    <p> <input class="form-control" placeholder="budget source"></p>
                    <p><input class="form-control" placeholder="budget id"></p>
                    <p><input class="form-control" placeholder="budget description"></p>
                    <p><input class="form-control" placeholder="budget amount"></p>
                    <p><input class="form-control" placeholder="budget currency"></p>
                    <p><input class="form-control" placeholder="budget project"></p>
                    <p><input class="form-control" placeholder="budget projectID"></p>
                    <p><input class="form-control" placeholder="budget uri"></p>
                    <p><input class="form-control" placeholder="rationale"></p>

                    <button  type="submit" class="btn btn-success">Guardar</button>

                </form>


            </div>
        </div>

        <div id="menu1" class="tab-pane fade">
            <div class="well well-lg">

                <h3>2. LICITACIÓN</h3>
                <p>
                    <button class="btn btn-success">Milestones</button>
                    <button class="btn btn-success">Documents</button>
                    <button class="btn btn-success">Amendment changes</button>
                    <button class="btn btn-success">Items</button>
                    <button class="btn btn-success">Tenderers</button>


                </p>
                <form role="form">

                    <p><input type="text" class="form-control" placeholder="title"></p>
                    <p><input type="text" class="form-control" placeholder="description"></p>
                    <p><input type="text" class="form-control" placeholder="status"></p>
                    <p><input type="text" class="form-control" placeholder="minValue amount"></p>
                    <p><input type="text" class="form-control" placeholder="minValue currency"></p>
                    <p><input type="text" class="form-control" placeholder="value amount"></p>
                    <p><input type="text" class="form-control" placeholder="value currency"></p>
                    <p><input type="text" class="form-control" placeholder="procurement method"></p>
                    <p><input type="text" class="form-control" placeholder="procurement method rationale"></p>
                    <p><input type="text" class="form-control" placeholder="award criteria"></p>
                    <p><input type="text" class="form-control" placeholder="award criteria details"></p>
                    <p><input type="text" class="form-control" placeholder="submission method"></p>
                    <p> <input type="text" class="form-control" placeholder="submission method details"></p>

                    <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="date1" placeholder="tender period start date">
                    </div>
                        <div class="col-sm-6">
                        <input type="text" class="form-control" id="date2" placeholder="tender period end date">
                        </div>
                   </div>
    <br>
                    <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="date3" placeholder="enquiry period start date">
                        </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="date4" placeholder="enquiry period end date"></div>
                    </div>
<br>
                    <p><select class="form-control">
                            <option value="0">Si</option>
                            <option value="1">No</option>
                        </select></p>
                    <p><input type="text" class="form-control" placeholder="eligibility criteria"></p>


                    <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="date5" placeholder="award period start date">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="date6"placeholder="award period end date">
                    </div>
                    </div>
</br>
                    <p><input type="number" class="form-control" placeholder="number of tenderers"></p>

                    <p><input type="text" class="form-control" placeholder="procuring entity identifier scheme"></p>
                    <p><input type="text" class="form-control" placeholder="procuring entity identifier id"></p>
                    <p><input type="text" class="form-control" placeholder="procuring entity identifier legal name"></p>
                    <p><input type="text" class="form-control" placeholder="procuring entity identifier uri"></p>

                    <p><div style="position: relative">
                        <input type="text" class="form-control" id="date7" placeholder="amendment date"></div></p>
                    <p><input type="text" class="form-control" placeholder="amendment rationale"></p>



                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>


            </div>
        </div>

        <div id="menu2" class="tab-pane fade">
            <div class="well well-lg">

                <h3>3. ADJUDICACIÓN</h3>
                <p>
                    <button class="btn btn-success">Items</button>
                    <button class="btn btn-success">Documents</button>
                    <button class="btn btn-success">Suppliers</button>
                    <button class="btn btn-success">Amendment changes</button>
                </p>
                <form role="form">
                    <p><input type="text" class="form-control" placeholder="title"></p>
                    <p><input type="text" class="form-control" placeholder="description"></p>
                    <p><input type="text" class="form-control" placeholder="status"></p>
                    <p><input type="datetime" class="form-control" placeholder="date"></p>
                    <p><input type="text" class="form-control" placeholder="value amount"></p>
                    <p><input type="text" class="form-control" placeholder="value currency"></p>
                    <p><input type="datetime" name="contract_period_start_date" class="form-control" placeholder="contract period start date"></p>
                    <p><input type="datetime" class="form-control" placeholder="contract period end date"></p>

                    <p><input type="text" class="form-control" placeholder="amendment date"></p>
                    <p><input type="text" class="form-control" placeholder="amendment rationale"></p>

                    <button type="submit" class="btn btn-success">Guardar</button>


                </form>
            </div>
        </div>

        <div id="menu3" class="tab-pane fade">
            <div class="well well-lg">

                <h3>4. CONTRATACIÓN</h3>
                <p>
                    <button class="btn btn-success">Documents</button>
                    <button class="btn btn-success">Items</button>
                    <button class="btn btn-success">Amendment changes</button>
                </p>

                <form role="form">

                    <p><input type="text" class="form-control" placeholder="title"></p>
                    <p><input type="text" class="form-control" placeholder="description"></p>
                    <p><input type="text" class="form-control" placeholder="status"></p>
                    <p><input type="text" class="form-control" placeholder="period start date"></p>
                    <p><input type="text" class="form-control" placeholder="period end date"></p>
                    <p><input type="text" class="form-control" placeholder="value amount"></p>
                    <p><input type="text" class="form-control" placeholder="value currency"></p>
                    <p><input type="text" class="form-control" placeholder="date signed"></p>

                    <p><input type="datetime" class="form-control" placeholder="amendment date"></p>
                    <p><input type="text" class="form-control" placeholder="amendment rationale"></p>

                    <button type="submit" class="btn btn-success">Guardar</button>

                </form>
            </div>
        </div>

        <div id="menu4" class="tab-pane fade">
            <div class="well well-lg">

                <h3>5. IMPLEMENTACIÓN</h3>
                <!--
                <form role="form">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </form> -->

                <button class="btn btn-success">Transactions</button>
                <button class="btn btn-success">Milestones</button>
                <button class="btn btn-success">Documents</button>

            </div>

        </div>


        <div id="menu5" class="tab-pane fade">
            <div class="well well-lg">

                <h3>COMPRADOR</h3>

                <p><button class="btn btn-success">Additional identifiers</button></p>

                <form role="form">
                    <p><input type="text" class="form-control" placeholder="identifier scheme"></p>
                    <p><input type="text" class="form-control" placeholder="identifier id"></p>
                    <p><input type="text" class="form-control" placeholder="identifier legal name"></p>
                    <p><input type="text" class="form-control" placeholder="identifier uri"></p>
                    <p><input type="text" class="form-control" placeholder="name"></p>
                    <p><input type="text" class="form-control" placeholder="address street address"></p>
                    <p><input type="text" class="form-control" placeholder="address locality"></p>
                    <p><input type="text" class="form-control" placeholder="address region"></p>
                    <p><input type="text" class="form-control" placeholder="address postal code"></p>
                    <p><input type="text" class="form-control" placeholder="address country name"></p>
                    <p><input type="text" class="form-control" placeholder="contact point name"></p>
                    <p><input type="text" class="form-control" placeholder="contact point email"></p>
                    <p><input type="text" class="form-control" placeholder="contact point telephone"></p>
                    <p><input type="text" class="form-control" placeholder="contact point fax number"></p>
                    <p><input type="text" class="form-control" placeholder="contact point url"></p>


                </form>


            </div>

        </div>


    </div>

</div>



<!-- modal para buscar -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Buscar proceso de contratación existente</h4>
            </div>
            <div class="modal-body">


                <input type="text" class="form-control" placeholder="ocid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>

<!-- modal para publicar -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel3">Publicar proceso de contratación</h4>
            </div>
            <div class="modal-body">
                <div class="radio">
                    <label><input type="radio" name="optradio">Release</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Record</label>
                </div>

                <button class="btn btn-success">Publicar</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>





<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="javascript/main.js"></script>

</body>
</html>
