<!DOCTYPE html>
<html>
<head>


    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--  <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"> -->
    <link rel='stylesheet' href='/stylesheets/navbar-fixed-top.css' />
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/main.css'/> -->
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap-grid-system.css' /> -->
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel='stylesheet' href='/stylesheets/buttons.css'/>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">datos.gob.mx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"> <%= user.username %></a></li>
                <li><a href="#">Datos</a></li>
                <li><a href="#">Herramientas</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Acerca</a></li>
                <li><a href="/signout"><i class="fa fa-sign-out"></i> Salir</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<nav class="row top-buffer">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Contrataciones abiertas</a>
        </div>
    </div>
</nav>


<div class="container all-container">
  <div class="panel panel-default pill-container">
      <div class="panel-heading">
          <h5>Proceso de contratación</h4>
      </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-8">
                    <button id="nuevo" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalCrea">
                        Nuevo <i class="fa fa-pencil"></i></button>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                        Buscar <i class="fa fa-search"></i></button>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
                        Publicar <i class="fa fa-file-text-o"></i></button>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orgModal">
                        Organización <i class="fa fa-users"></i></button>
                </div>


                <div class="col-sm-4 ">
                    <input id="ocid" type="text" class="form-control"  placeholder="ocid" disabled>
                </div>

            </div>
        </div>
    </div>

    <br>


    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a data-toggle="pill" href="#home">1. PLANEACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu1">2. LICITACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu2">3. ADJUDICACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu3">4. CONTRATACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu4">5. IMPLEMENTACIÓN</a></li>
        <!-- <li role="presentation"><a data-toggle="pill" href="#menu5">   ORGANIZACIÓN</a></li> -->
    </ul>

    <br>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">


            <div class="well well-lg">

                <h3>1. PLANEACIÓN</h3>

                <p>
                    <button class="btn btn-primary">Document</button>

                </p>

                <h3>1.1 BUDGET</h3>
                <form role = "form">
                    <p> <input class="form-control" placeholder="budget source"></p>
                    <p><input class="form-control" placeholder="budget description"></p>
                    <p><input class="form-control" placeholder="budget amount"></p>
                    <p><input class="form-control" placeholder="budget currency"></p>
                    <p><input class="form-control" placeholder="budget project"></p>
                    <p><input class="form-control" placeholder="budget projectID"></p>
                    <p><input class="form-control" placeholder="budget uri"></p>
                    <p><input class="form-control" placeholder="rationale"></p>
                    <p><button  type="submit" class="btn">Guardar</button></p>

                    <p><button class="btn btn-primary">Budget document</button></p>

                </form>


            </div>
        </div>

        <div id="menu1" class="tab-pane fade">
            <div class="well well-lg">

                <h3>2. LICITACIÓN</h3>
                <p>
                    <button class="btn btn-primary">Milestones</button>
                    <button class="btn btn-primary">Documents</button>
                    <button class="btn btn-primary">Amendment </button> <!-- Le sigue Amendment Changes-->
                    <button class="btn btn-primary">Items</button>
                    <!-- <button class="btn btn-primary">Procuring Entity</button>
                         <button class="btn btn-primary">Tenderers</button> -->


                </p>
                <form role="form">

                    <p><input type="text" class="form-control" placeholder="title"></p>
                    <p><input type="text" class="form-control" placeholder="description"></p>
                    <p><input type="text" class="form-control" placeholder="status"></p>
                    <p><input type="text" class="form-control" placeholder="minValue amount"></p>
                    <p><input type="text" class="form-control" placeholder="minValue currency"></p>
                    <p><input type="text" class="form-control" placeholder="value amount"></p>
                    <p><input type="text" class="form-control" placeholder="value currency"></p>
                    <p><input type="text" class="form-control" placeholder="procurement method"></p>
                    <p><input type="text" class="form-control" placeholder="procurement method rationale"></p>
                    <p><input type="text" class="form-control" placeholder="award criteria"></p>
                    <p><input type="text" class="form-control" placeholder="award criteria details"></p>
                    <p><input type="text" class="form-control" placeholder="submission method"></p>
                    <p> <input type="text" class="form-control" placeholder="submission method details"></p>

                    <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="lici_date1" placeholder="tender period start date">
                    </div>
                        <div class="col-sm-6">
                        <input type="text" class="form-control" id="lici_date2" placeholder="tender period end date">
                        </div>
                   </div>
    <br>
                    <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="lici_date3" placeholder="enquiry period start date">
                        </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="lici_date4" placeholder="enquiry period end date"></div>
                    </div>
<br>
                    <p><select class="form-control">
                            <option value="0">Si</option>
                            <option value="1">No</option>
                        </select></p>
                    <p><input type="text" class="form-control" placeholder="eligibility criteria"></p>


                    <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="lici_date5" placeholder="award period start date">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="lici_date6"placeholder="award period end date">
                    </div>
                    </div>
</br>
                    <p><input type="number" class="form-control" placeholder="number of tenderers"></p>

                    <!--
                    <p><input type="text" class="form-control" placeholder="procuring entity identifier scheme"></p>
                    <p><input type="text" class="form-control" placeholder="procuring entity identifier id"></p>
                    <p><input type="text" class="form-control" placeholder="procuring entity identifier legal name"></p>
                    <p><input type="text" class="form-control" placeholder="procuring entity identifier uri"></p>
-->


                    <!-- amendment-->
                    <!--
                    <p><div style="position: relative">
                        <input type="text" class="form-control" id="lici_date7" placeholder="amendment date"></div></p>
                    <p><input type="text" class="form-control" placeholder="amendment rationale"></p>
                    -->



                    <button type="submit" class="btn">Guardar</button>
                </form>


            </div>
        </div>

        <div id="menu2" class="tab-pane fade">
            <div class="well well-lg">

                <h3>3. ADJUDICACIÓN</h3>
                <p>
                    <button class="btn btn-primary ">Items</button>
                    <button class="btn btn-primary ">Documents</button>
                    <!-- <button class="btn btn-primary ">Suppliers</button> -->
                    <button class="btn btn-primary ">Amendment </button> <!-- Le sigue amendment changes-->
                </p>
                <form role="form">
                    <p><input type="text" class="form-control" placeholder="title"></p>
                    <p><input type="text" class="form-control" placeholder="description"></p>
                    <p><input type="text" class="form-control" placeholder="status"></p>
                    <div class="row">
                    <div class="col-sm-6">
                        <input type="text" id ="adju_date1" class="form-control" placeholder="date">

                    </div>
                    </div>
                    <br>
                    <p><input type="text" class="form-control" placeholder="value amount"></p>
                    <p><input type="text" class="form-control" placeholder="value currency"></p>


                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" id ="adju_date2" name="contract_period_start_date" class="form-control" placeholder="contract period start date">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" id = "adju_date3" class="form-control" placeholder="contract period end date">
                        </div>
                    </div>


                        <!--
                        <div class="col-sm-4">
                            <input type="text" id= "adju_date4" class="form-control" placeholder="amendment date">
                        </div>
                    </div>
                    <br>
                    <p><input type="text" class="form-control" placeholder="amendment rationale"></p>
                    -->


                    <button type="submit" class="btn">Guardar</button>


                </form>
            </div>
        </div>

        <div id="menu3" class="tab-pane fade">
            <div class="well well-lg">

                <h3>4. CONTRATACIÓN</h3>
                <p>
                    <button class="btn btn-primary">Documents</button>
                    <button class="btn btn-primary">Items</button>
                    <button class="btn btn-primary">Amendment</button> <!-- le sigue amendment changes -->
                </p>

                <form role="form">

                    <p><input type="text" class="form-control" placeholder="title"></p>
                    <p><input type="text" class="form-control" placeholder="description"></p>
                    <p><input type="text" class="form-control" placeholder="status"></p>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" id= "cont_date1" class="form-control" placeholder="period start date">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" id= "cont_date2" class="form-control" placeholder="period end date">
                        </div>
                    </div>

                    <p><input type="text" class="form-control" placeholder="value amount"></p>
                    <p><input type="text" class="form-control" placeholder="value currency"></p>


                            <div style="position: relative"><input type="text" id="cont_date3" class="form-control" placeholder="date signed"></div>


                        <!--
                        <div class="col-sm-6">
                            <input type="text" id="cont_date4" class="form-control" placeholder="amendment date">
                        </div>
                    </div>
                    <p><input type="text" class="form-control" placeholder="amendment rationale"></p>
                    -->
                    <button type="submit" class="btn">Guardar</button>

                </form>
            </div>
        </div>

        <div id="menu4" class="tab-pane fade">
            <div class="well well-lg">

                <h3>5. IMPLEMENTACIÓN</h3>
                <!--
                <form role="form">
                    <button type="submit" class="btn">Guardar</button>
                </form> -->

                <button class="btn btn-primary">Transactions</button>
                <button class="btn btn-primary">Milestones</button>
                <button class="btn btn-primary">Documents</button>

            </div>

        </div>

    </div>
</div>


<!--
Modal de organización

Restricciones:
Organización Buyer es independiente
Organización Procuring Entity depende de Licitación (solo es una por licitación)
Organización Tenderer depende de Licitación
Organización Supplier depende de Adjudicación
-->
<div class="modal fade" id="orgModal" tabindex="-1" role="dialog" aria-labelledby="orgModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="orgModalLabel">Buscar/Registrar nueva organización</h4>
            </div>
            <div class="modal-body">

                <form role="form">

                    <p><select class="form-control" id =  "OrganizationType">
                        </select></p>
                    <!-- <p><input type="text" class="form-control" placeholder="identifier scheme"></p>
                    <p><input type="text" class="form-control" placeholder="identifier id"></p>
                    <p><input type="text" class="form-control" placeholder="identifier legal name"></p>
                    <p><input type="text" class="form-control" placeholder="identifier uri"></p>
                    -->
                    <p><input type="text" class="form-control" placeholder="name"></p>
                    <p><input type="text" class="form-control" placeholder="address street address"></p>
                    <p><input type="text" class="form-control" placeholder="address locality"></p>
                    <p><input type="text" class="form-control" placeholder="address region"></p>
                    <p><input type="text" class="form-control" placeholder="address postal code"></p>
                    <p><input type="text" class="form-control" placeholder="address country name"></p>
                    <p><input type="text" class="form-control" placeholder="contact point name"></p>
                    <p><input type="text" class="form-control" placeholder="contact point email"></p>
                    <p><input type="text" class="form-control" placeholder="contact point telephone"></p>
                    <p><input type="text" class="form-control" placeholder="contact point fax number"></p>
                    <p><input type="text" class="form-control" placeholder="contact point url"></p>

                    <p><button class="btn btn-primary">Guardar</button> </p>
                </form>
                <!-- Additional identifiers-->
                <p><button class="btn  btn-primary">Identifiers</button></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>

<!-- modal para crear -->
<div class="modal fade" id="myModalCrea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel3">Dependencia que publica</h4>
            </div>
            <div class="modal-body">
              <h5>Id dependencia</h5>
              <input type="text" class="form-control" placeholder="ocid">
              <h5>Dependencia</h5>
              <input type="text" class="form-control" placeholder="dep">
              <br>
              <button class="btn btn-primary">Buscar</button>
            </div>
            <div class="modal-footer">
              <button id="crear" class="btn btn-primary">Crear</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>



<!-- modal para buscar -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Buscar proceso de contratación</h4>
            </div>
            <div class="modal-body">
              <h5>Id proceso</h5>
              <input type="text" class="form-control" placeholder="ocid">
              <h5>Dependencia</h5>
              <input type="text" class="form-control" placeholder="dep">
              <div class="row">
                <div class='col-sm-5'>
                  <h5>Fecha inicio</h5>
                  <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                      <input type='text' class="form-control" />
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class='col-sm-5 col-sm-offset-2'>
                  <h5>Fecha fin</h5>
                  <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                      <input type='text' class="form-control" />
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Buscar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>

<!-- modal para publicar -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel3">Publicar proceso de contratación</h4>
            </div>
            <div class="modal-body">
                <div class="radio">
                    <label><input type="radio" name="optradio">Release</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Record</label>
                </div>

                <button class="btn">Publicar</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>



<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="javascript/main.js"></script>
<script type="text/javascript">
    $(function () {
    $('#datetimepicker1').datetimepicker({});
    $('#datetimepicker2').datetimepicker({
    useCurrent: false
    });
    $("#datetimepicker1").on("dp.change", function (e) {
    $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker2").on("dp.change", function (e) {
    $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
    });
    });
</script>
</body>
</html>
